<table>
    <tr>
        <th>Name</th>
        <th>Pessimistic</th>
        <th>Probable</th>
        <th>Optimistic</th>
        <th>Pert</th>
    </tr>
    {% for activity in activities %}
    <tr>
        <td>{{activity.name}}</td>
        <td>{{activity.pessimistic}}</td>
        <td>{{activity.probable}}</td>
        <td>{{activity.optimistic}}</td>
        <td>{{activity.pert}}</td>
    </tr>
    {% endfor %}
    <td colspan="2">
        Total
    </td>
    <td colspan="3">
        {{estimated_total}}
    </td>
</table>